/* Reset some default styles */
body, h1, h2, p, form, label, input, button {
    margin: 0;
    padding: 0;
}

/* Apply a global font family */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Header styling */
header {
    background-color: #0074d9;
    color: white;
    text-align: center;
    padding: 20px 0;
}

/* Main container for content */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Heading styles */
h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-top: 20px;
}

/* Form styles */
form {
    margin-top: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: border-color 0.2s;
}

input[type="text"]:focus {
    border-color: #0074d9;
    outline: none;
}

button {
    background-color: #0074d9;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #0056b3;
}

/* Back to Home link */
a {
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: #0074d9;
    transition: color 0.2s;
}

a:hover {
    color: #0056b3;
}


.button-container {
    text-align: center;
    margin-top: 20px;
}

.button-container a {
    text-decoration: none;
    background-color: #3498DB; /* Blue color for buttons */
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 10px;
}

.button-container a:hover {
    background-color: #2980B9; /* Darker blue color on hover */
}